body{
    text-align: center;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}

.btn{
}
#rock{
    background-color: red;
    border: 1px;
    font-size: 2rem;
    padding: 0.5rem;
}
#paper{
      background-color: rgb(46, 52, 143);
    border: 1px;
    font-size: 2rem;
    padding: 0.5rem;
}
#scissor{
      background-color: rgb(0, 255, 136);
    border: 1px;
    font-size: 2rem;
    padding: 0.5rem;
}
#res{
    font-size: 2rem;
}
#scores{
    font-size: 2rem;
    
}